@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 300 400;
  src: url(./fonts/HKGrotesk-Regular.woff2) format('woff2');
  /*unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;*/
}
@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 500 600;
  src: url(./fonts/HKGrotesk-Bold.woff2) format('woff2');
  /*unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;*/
}
@font-face {
  font-family: 'Hanken Grotesk';
  font-style: oblique;
  font-weight: 300 400;
  src: url(./fonts/HKGrotesk-Italic.woff2) format('woff2');
  /*unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;*/
}
